@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf) format("ttf");
  font-display: swap;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("ttf");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Thin.ttf) format("ttf");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
